// Base
html {
	box-sizing: border-box;
  }
  
  *, 
  *:before, 
  *:after {
	box-sizing: inherit;
  }
  
  figure {
	margin: 0;
  }
  
  // Absolute Background
  .absolute-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
  
	height: 100%;
	width: 100%;
  
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
  }
  
  // Fog
  .fog {
	position: relative;
	z-index: 1;
  
	height: 100vh;
	width: 100vw;
	
	background-color: grey;
  
	&__container {
	  position: absolute;
  
	  height: 100%;
	  width: 100%;
  
	  overflow: hidden;
	}
  
	&__img {
	  position: absolute;
   
	  height: 100vh;
	  width: 300vw;
  
	  &--first {
		background: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png') repeat-x;
		background-size: contain;
		background-position: center;
		animation: marquee 80s linear infinite;
	  }
  
	  &--second {
		background: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png') repeat-x;
		background-size: contain;
		background-position: center;
		animation: marquee 60s linear infinite;
	  }
	}
  }
  
  // Marquee
  @keyframes marquee {
	0% { transform: translate3d(0, 0, 0); }
	100% { transform: translate3d(-200vw, 0, 0); }
  }

.bubble {
	// height: 250px;
	width: 40%;
    min-width: 200px;
    padding: 1em;
    text-align: justify;
	background: #E0E4E8;
	display: block;
	margin: 0 auto;
	border-radius: 20px;
	// margin-top: 50px;
	font-size: 1em;
	overflow: auto;
}

@media (max-width: 980px) {
	.bubble {
		height: 300px;
		width: 60%;
	}
}

@media (max-width: 560px) {
	.bubble {
		width: 90%;
	}
}


.pointer {
	height: 40px;
	width: 40px;
	background: #E0E4E8;
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 12px 0;
	margin-top: -22px;
	position: relative;
    left: calc(0.5vw - 50px);
    z-index: -1;
}

.container-ghost {
    display: flex;
    justify-content: center;
}

.container-bubble {
	padding-top: 5em;
}

.buttons-container {
	display: flex;
	justify-content: flex-end;
}